@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("normalize3.css");
*{
    margin: 0px;
    padding: 0px; 
    font-size: 12px; 
}
#container{
    padding: 50px; 
}
#profile{
    max-width: 100%; height: 200px; padding-top: 50px; 
}
#ppic{
    width: 200px; height: 200px; object-fit: fill; border-radius: 200px 200px 200px 200px; margin-top: -50px;
}
#pName{
    display: inline-block; position: absolute; margin-left: 20px; font-size: 18px; font-weight: bold;
}
#loc{
    display: inline-block; position: absolute; margin: 40px 0px 0px 20px; font-weight: bold;
}
#botton{
    width: 200px; height: 100px; position: absolute; display: inline-block; margin-left: 200px; border: solid #098b27 2px; border-radius: 10px; 
}
#botton1{
    width: 200px; height: 100px; position: absolute; display: inline-block; margin-left: 430px; border: solid #098b27 2px; border-radius: 10px; 
}
#botton2{
    width: 200px; height: 100px; position: absolute; display: inline-block; margin-left: 660px; border: solid #098b27 2px; border-radius: 10px; 
}
#botton3{
    width: 200px; height: 100px; position: absolute; display: inline-block; margin-left: 890px; border: solid #098b27 2px; border-radius: 10px; 
}
.btnTXT{
    text-align: center; padding-top: 20px; color: black; font-weight: bold;
}
.btniCon{
    text-align: center; padding-top: 10px;
}
a:link {
    text-decoration: none; 
}
#container1{
    padding-top: 50px;
}
#container2{
    border: solid #098b27 1px; height: 150px; width: 890px; margin: 60px 0px 0px 250px; border-radius: 10px; font-weight: bold;
}
#container3{
    border: solid #098b27 1px; height: 150px; width: 890px; margin: 15px 0px 0px 250px; border-radius: 10px; font-weight: bold;
}
.iCon{
    padding: 15px 0px 0px 40px;
}
.iCon1{
    display: inline-block; margin-top: -17px; position: absolute; margin-left: 840px; 
}
ul li,ul{
    display: inline-block;
}

.count{
    padding-top: 20px; color: black;
}
.count1{
    color: black; font-size: 18px; margin-left: 160px; margin-right: 50px;
}
.count2{
    color: black; font-size: 13px; margin-left: 125px;
}
.count3{
    color: black; font-size: 13px; margin-left: 170px; margin-right: 40px;
}
.count3a{
    color: black; font-size: 13px; margin-left: 150px;
}
.container4 {
    border: solid #098b27 1px; height: 50px; width: 890px; margin: 15px 0px 0px 250px; border-radius: 10px; font-weight: bold; margin-bottom: 10px; 
}
#container5{
    border: solid #098b27 1px; height: 50px; width: 890px; margin: 15px 0px 0px 250px; border-radius: 10px; font-weight: bold; margin-bottom: 50px; 
}
.icon2{
    margin: 12px 0px 10px 20px;
}
.txt7{
    margin-left: 30px; color: black;
}
.iCon3{
    display: inline-block; margin-top: -30px; position: absolute; margin-left: 840px; 
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dae4e6;
    color: black;
    text-align: center; height: 40px;
}
#ftr{
    margin-right: 100px; margin-top: 10px; 
}
.color{
    color: black; font-size: 18px;
}
/*--------Responsive webdesign--------*/
@media screen and (max-width:521px){
    *{box-sizing: border-box;}
    #container{
        min-height:100%;
    }
    #container1{
        display: inline-block;
    }
    #botton {
        position: absolute; display: block; margin-left: -10px;
    }
    #botton1 {
        position: absolute; display: block; margin-left: 200px;
    }
    #botton2 {
        position: absolute; display: block; margin-left: 410px;
    }
    #botton3 {
        position: absolute; display: block; margin-left: 620px;
    }
}